.list-users {
  padding: 50px;
}

.list {
  display: inline-block;
  vertical-align: top;
  width: 330px;
  border: 1px solid #dedede;
  border-radius: 5px;
  margin-right: 40px;
}

.list-user {
  padding: 10px;
  border-bottom: 1px solid #dedede;
  cursor: pointer;
  background-color: #ffffff;
}

.list-user:last-child, .details-item:last-child {
  border: none;
}

.list-user.user-selected {
  background-color: #0f7ffa;
}

.details {
  display: inline-block;
  vertical-align: top;
}

.details.hidden {
  display: none;
}

.details-list {
  border: 1px solid #dedede;
  border-radius: 5px;
}

.details-item {
  padding: 10px;
  border-bottom: 1px solid #dedede;
}
